.admin_manager_search_advanced{position: relative;}
.admin_manage_search{padding: 5px 0px;}
.admin_manage_search label{width: 100px;float: left;}
.button{margin-left: 100px;}
.grid-view{padding-top: 0px !important;}